  <LinkTo @route="createcontact">
  <button type="submit" class="btn btn-primary">+ Add New person</button>
</LinkTo>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Nickname</th>
      <th scope="col">Birthday</th>
      <th scope="col">email</th>
      <th scope="col">MobileNumber</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
      {{#each this.model as |person|}}
  <tr onclick={{action "showDetails" person}}>
      <td>{{person.Name}}</td>
      <td>{{person.Nickname}}</td>
      <td>{{person.Birthday}}</td>
      <td>{{person.email}}</td>
      <td>{{person.MobileNumber}}</td>
      <td><LinkTo @route="addcontact" @model={{person.id}}>
      <button type="submit" class="btn btn-warning btn-sm">Edit contact</button>
    </LinkTo></td>

</tr>


    {{/each}}
  </tbody>
</table>
{{#if this.showContent}}
<div class="left-border col-5">

<ShowDetails @name={{this.name}} @nickname={{this.nickname}} @birthday={{this.birthday}} @email={{this.email}} @mobilenumber={{this.mobileNumber}}/>

</div>
{{/if}}
