  <LinkTo @route="contact.new">
  <button type="submit" class="btn btn-primary">+ Add New person</button>
</LinkTo>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Nickname</th>
      <th scope="col">Birthday</th>
      <th scope="col">email</th>
      <th scope="col">MobileNumber</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
      {{#each this.model as |person|}}
  <tr onclick={{action "showDetails" person.id}}>
      <td>{{person.Name}}</td>
      <td>{{person.Nickname}}</td>
      <td>{{person.Birthday}}</td>
      <td>{{person.email}}</td>
      <td>{{person.MobileNumber}}</td>
      <td><LinkTo @route="contact.edit" @model={{person.id}}>
      <button type="submit" class="btn btn-warning btn-sm" onclick={{action "hide" person.id}}>Edit contact</button>
    </LinkTo></td>

</tr>
    {{#if this.showContent}}
    {{#if (eq person.id this.isShow)}}
   <div class="left-border">

    <ShowDetails @name={{person.Name}} @nickname={{person.Nickname}} @birthday={{person.Birthday}} @email={{person.email}} @mobilenumber={{person.MobileNumber}}/>

  </div>
    {{/if}}
    {{/if}}

    {{/each}}
  </tbody>
</table>
